<nav class="navbar 
navbar-dark bg-dark
navbar-expand-sm
fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Home</a>
     
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" 
            aria-current="page" 
            routerLinkActive="text-success"
            routerLink="/profile">
                My-Profile  
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex" 
      *ngIf="this.isLoggin === false"
      (click)="isOnline()">
        <a class="btn btn-outline-success mx-2" 
         routerLink="/login">
                Log-in
        </a>
        <a class="btn btn-success"
        routerLink="/sign-up">
          Sign-up
        </a>
      </div>
      <div class="d-flex" *ngIf="this.isLoggin === true">
        <a class="btn btn-outline-success mx-2">
          Log-Out
        </a>
      </div>  

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
